@import "uico";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--base: theme(colors.slate.600);
		--accent: theme(colors.teal.700);
		--destructive: theme(colors.rose.700);

		pre {
			--shiki-foreground: theme(colors.base.200);
			--shiki-background: theme(colors.base.900);
			--shiki-token-constant: theme(colors.base.50);
			--shiki-token-string: theme(colors.sky.200);
			--shiki-token-comment: theme(colors.base.500);
			--shiki-token-keyword: theme(colors.teal.300);
			--shiki-token-parameter: theme(colors.base.300);
			--shiki-token-function: theme(colors.violet.300);
			--shiki-token-string-expression: theme(colors.sky.300);
			--shiki-token-punctuation: theme(colors.base.300);
			--shiki-token-link: theme(colors.base.300);

			margin-inline: -1.5rem;
			border-radius: 0;
			padding-inline: 0;

			@media (min-width: 640px) {
				margin-inline: 0;
				border-radius: theme(borderRadius.sm);
			}

			& > code {
				/* wrapping codeblock */
				display: flex;
				flex-direction: column;
				width: fit-content;
				min-width: 100%;
			}

			& .line,
			& p {
				padding-inline: theme(padding.6);
				height: 2.5ch;

				&.highlighted {
					background-color: theme(colors.base.800);
				}
			}
		}
	}

	body {
		font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
			sans-serif;
	}

	* {
		scroll-padding-block-start: theme(padding.20);
		@media (min-width: 1024px) {
			scroll-padding-block-start: theme(padding.4);
		}
	}

	pre,
	blockquote,
	.copy-text {
		cursor: copy;
		&:active {
			cursor: default;
		}
	}

	/* for safari */
	summary::-webkit-details-marker {
		display: none;
	}

	img {
		border: var(--border);
	}
}

@layer components {
	@media (prefers-reduced-motion: no-preference) {
		/* modified from https://codepen.io/jh3y/pen/vzqVWa */
		#npm {
			& npm-word {
				display: inline-block;
			}
			& npm-char {
				--stagger: 0.08s;
				display: inline-block;
				animation-duration: 1.5s;
				animation-delay: calc(var(--char-index) * var(--stagger));
				animation-fill-mode: forwards;
				transition: transform 0.25s calc(var(--char-index) * var(--stagger));
			}
			& npm-char:nth-of-type(odd) {
				transform: translateX(100%);
			}
			& npm-char:nth-of-type(even) {
				transform: translateX(-100%);
			}
			& npm-char:nth-of-type(odd) {
				animation-name: swap-left;
			}
			& npm-char:nth-of-type(even) {
				animation-name: swap-right;
			}
		}

		@keyframes swap-right {
			25% {
				transform: translateX(-100%) translateY(-40%);
			}
			75% {
				transform: translateX(0) translateY(-40%);
				transform: rotate(30deg);
			}
			100% {
				transform: translateX(0) translateY(0);
			}
		}
		@keyframes swap-left {
			25% {
				transform: translateX(100%) translateY(40%);
				transform: rotate(-15deg);
			}
			75% {
				transform: translateX(0) translateY(40%);
			}
			100% {
				transform: translateX(0) translateY(0);
			}
		}
	}
}

@layer utilities {
	.prose {
		blockquote {
			padding-inline-start: 0;
			font-style: normal;
			p {
				padding-inline-start: 0;
			}
		}
	}
}
